<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      primera app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>lectura</ion-card-subtitle>
      <ion-card-title>Parrafo</ion-card-title>
    </ion-card-header>
      <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="success">Success</ion-button>

  
</ion-content>
